/* *{
  border: 1px solid black;
} */

.App {
  text-align: center;
}
.header{
  display: flex;
  flex-direction: column;
}
.headerlinks{
  display:flex;
  justify-content: space-evenly;
}
/* rules */
.rules{
  width: 45%;
  text-align: left;
}

/* Grid */
.grid{
width: 1250px;
height:600px;
position: absolute;
right: 0;
margin-left: 1%;
margin-top: 1%;

}

/* Footer */
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;

}
.buttons{
  display: flex;
  flex-direction: column;
  width: 30%;
  height:100%;
  justify-content: space-evenly;
}
button{
  margin-left: 10%;
  margin-top: 5%;
  height: 50px;
  border-radius: 10px;
}
.game{
  display:flex;
  align-items: center;
  height:70vh
}
.homepagebuttons{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-direction:column;
}
.home-page-btn{
  margin: 2%;
  height: 75px;
  width: 600px;
  color: orangered;
  background: darkgrey;
  font-size: 2.5rem;

}
.rulespage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:3%;
}
.stilllifes{
  display:flex;
  justify-content: space-around;
}
.oscillators{
  display: flex;
  justify-content: space-around;
}
img{
  height:138px;
  width:128px;
}
.changecolor{
  width:10%;
  margin:1%;
}

.cellcolor, .gamespeed, .boardsize{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
}
.colorbuttons{
  width:100%;
  text-align: center;
  margin-left:2%;
}

/* .speedbuttons{
display:flex;
justify-content: center;
align-items: center;
} */

.generational{
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 15%;
  margin-left:825px;
}
